.round
    border-radius: 50%

.nav-dp
    width: 40px
    height: 40px
    margin-top: 8px

.nav-element
    margin-left: 10px
    margin-right: 12px

.no-material
    all: initial !important
    font-family: 'Roboto' !important

.search-input
    padding-left: 15px !important
    width: 90% !important
    height: 100% !important

.thumbnail
    width: 220px !important
    height: 118px !important
    object-fit: fill !important

.thumbnail-channel
    font-size: 12px
    color: darkgray

.no-gap
    margin-bottom: 0

.center
    position: relative
    left: 50%
    transform: translateX(-50%)

body
    background-color: #fafafa

.ion-icon-css
    float: left
    display: inline-block
    margin-top: 10px

.sidebar-item
    margin-left: 50px

.profile-dp
    width: 80px
    height: 80px
    border-radius: 50%

.profile-subscribers
    color: darkgray
    font-size: 16px
    margin-top: 0

.video
    margin-bottom: 0 !important
    left: 0 !important
    transform: translateX(0)  !important

    p
        margin-bottom: 0 !important
        margin-top: 3px !important
        text-align: left
        margin-left: 10px

        &.video-desc
            margin-top: 10px !important

.shrink
    transform: scale(0.9)
    -ms-transform: scale(0.9)
    -webkit-transform: scale(0.9)
    -o-transform: scale(0.9)
    -moz-transform: scale(0.9)

.link
    cursor: pointer

.search-bar
    margin-top: 10px
    background: rgba(0, 0, 0, 0.4) !important
    border-radius: 4px !important
    transition: background 100ms ease-in
    border: 1px solid rgba(0, 0, 0, 0) !important

    &:focus-within
        border: 1px solid rgba(0, 0, 0, 0.12) !important
        background: white !important
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.24) !important

    .search, .search-login
        border: none !important
        outline: none !important
        background: transparent !important

    .search-login
        color: gray !important

    .search-login:focus
        color: black !important

.background-video
    top: 0
    left: 0
    bottom: 0
    right: 0
    min-height: 100%
    min-width: 100%
    position: fixed
