.round
    border-radius: 50%

.nav-dp
    width: 40px
    height: 40px
    margin-top: 8px
    border: 1px black solid

.nav-element
    margin-left: 10px
    margin-right: 12px

.no-material
    all: initial !important
    font-family: 'Roboto' !important

.search-bar
    padding-left: 15px !important
    width: 90% !important
    height: 100% !important

.thumbnail
    width: 220px !important
    height: 118px !important
    object-fit: fill !important

.thumbnail-channel
    font-size: 12px
    color: darkgray

.no-gap
    margin-bottom: 0

.center
    position: relative
    left: 50%
    transform: translateX(-50%)

body
    background-color: #fafafa
